.pincock_logo {
  font-family: "Lobster", cursive;
}

.pincock_footer_button {
  font-size: 0.6rem;
}

.pincock_footer {
  text-align: center;
  margin-bottom: 2rem;
}

.pincock_header {
  text-align: center;
  margin-top: 2rem;
}
